<div class="greet-page">
  <div ng-if="$ctrl.path === '/'" style="margin: 0 auto;width: fit-content;"><div class="image-container"></div>
  <img ng-src="assets/serviceLogos/logo.png" class="logo">
  <br>
  <a ui-sref="login" class="greet" style="color:'#C59942'" ui-sref-active="active">Login</a>
  <a ui-sref="signup" class="greet" style="color:'#C59942';padding-left: 277px;" ui-sref-active="active">Signup</a>
  <!-- <a ui-sref="search" class="greet" ng-style="{color:'#C59942'}" ui-sref-active="active">Search</a> -->
  </div>
  <div ui-view></div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
