

<!-- <label>Username:
  <input type="text" name="input" ng-model="example.text" ng-pattern="example.word" required ng-trim="false">
</label>
<label>Password:
  <input type="text" name="input" ng-model="example.text" ng-pattern="example.word" required ng-trim="false">
</label> -->
<div>
  <form action='/login' id='loginPage'>
    <table></table>
      <input ng-model="$ctrl.username" class="form-control mr-sm-1" type="text" style="width: 50%" placeholder="Username" required /><br>
      <input ng-model="$ctrl.password" class="form-control mr-sm-1" type="text" style="width: 50%" placeholder="Password" required /><br>
      <button type='button' ng-click='$ctrl.login()'>Login</button>
  </form>
</div>


<!-- ng-repeat="user in $ctrl.list"
user="user"
on-update="$ctrl.userInput(user, prop, info)" -->