<div class="search">
  <img ng-src="assets/serviceLogos/logo-cropped.png" class="logo-search-profile">
  <sidebar></sidebar>
  <form class="search-form">
    <input class="search-input-movie grey lighten-4" placeholder="Search by title" style="width: 40%" ng-model="searchTerm">
    <span>I'm looking for...</span>
    <p>
      <label>  
        <input name="group1" type="radio" ng-model="type" value="TV" checked />
        <span>A TV Show</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" type="radio" ng-model="type" value="movie"/>
        <span>A Movie</span>
      </label>
    </p>
  </form>
  <button ng-click="$ctrl.searchFor(searchTerm, type, genre)">Search the streams!</button>
  
  <div class="carousel" class={{$ctrl.ignore}}>
      <a class="carousel-item" name="0" href="javascript:void(0);">{{$ctrl.data[0].title}}<img class="materialboxed" ng-if="$ctrl.data.length" width="200" ng-src="{{$ctrl.data[0].poster}}"></a>
      <a class="carousel-item" name="1" href="javascript:void(0);">{{$ctrl.data[1].title}}<img class="materialboxed" ng-if="$ctrl.data.length" width="200" ng-src="{{$ctrl.data[1].poster}}"></a>
      <a class="carousel-item" name="2" href="javascript:void(0);">{{$ctrl.data[2].title}}<img class="materialboxed" ng-if="$ctrl.data.length" width="200" ng-src="{{$ctrl.data[2].poster}}"></a>
      <a class="carousel-item" name="3" href="javascript:void(0);">{{$ctrl.data[3].title}}<img class="materialboxed" ng-if="$ctrl.data.length" width="200" ng-src="{{$ctrl.data[3].poster}}"></a>
      <a class="carousel-item" name="4" href="javascript:void(0);">{{$ctrl.data[4].title}}<img class="materialboxed" ng-if="$ctrl.data.length" width="200" ng-src="{{$ctrl.data[4].poster}}"></a>
    </div>
</div>