<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="assets/serviceLogos/hamburger-tab-background.png">
      </div>
      <a href="#user"><img class="circle"
          src="assets/serviceLogos/logo-cropped.png"></a>
      <a href="#name"><span class="white-text name">Username</span></a>
      <a href="#email"><span class="white-text email">Full Name</span></a>
    </div>
    <a ui-sref="search" class="search1" ng-style="{color:'#C59942'}" ui-sref-active="active">Search Page</a>
    <a ui-sref="profile" class="profile" ng-style="{color:'#C59942'}" src="assets/serviceLogos/hamburger-tab-background.png" ui-sref-active="active">User Profile</a>
  </li>
  <div class="divider"></div>
  <li><a href="#!">Log Out</a></li>
  <li>
  </li>
</ul>
<a data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>