
<div>
  <form action='/signup' id='signupPage'>
    <table>
      <img ng-src="assets/serviceLogos/login-signup-background.png" class="login-signup-img">
      <img ng-src="assets/serviceLogos/grey-bod-top.png" class="login-signup-img-two">
      <input ng-model='$ctrl.username' type='text' style="width: 50%" placeholder="Username" class="centered-text-username" required /><br>
      <input ng-model='$ctrl.fullname' type='text' style="width: 50%" placeholder="Full Name" class="centered-text-username" required /><br>
      <input ng-model='$ctrl.password' type='text' style="width: 50%" placeholder="Password" class="centered-text-username" required /><br>
      <input ng-model='$ctrl.country' type='text' style="width: 50%" placeholder="Country" class="centered-text-username" required /><br>
    </table>
  </form>
  <div>
    <select-services create-user='$ctrl.createUser'/>
  </div>
</div>
  